

      h1{
        font-size: 65px;
        color: orange;
        font-family: sans-serif;
        text-align: center;
        text-decoration: underline;
      }
        

        ul{
            color: yellow;
        }

        .Nicole{
            background-color: green;
        }


      

      p{
        font-weight: 600;
        font-size: 3em;
        font-style: bold;

      }

      body{
        font-size: 16px;
      }

      #corAmarelo{
        color: yellow;
      }

      #corVermelho{
        color: red;
      }

      #corMarrom{
        color: brown;
      }

